.card {
  display: flex;
  flex-direction: column;
  max-width: 25%;

  border: solid 1px ;
  border-radius: 10px;
  padding: 10px;

  .show{
    display: block;
  }

  .hide{
    display: none;
  }

  h3{
    margin: 5px 0;
    text-align: center;
  }

  img{
    width: 40%;
  }
}